<script type="text/javascript" src="{$asset_url}/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/Chart.min.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/select2.full.min.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/ace/ace.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/ace/mode-html.js"></script>
<script type="text/javascript" src="{$asset_url}/js/libs/ace/theme-github.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="{$asset_url}/js/app.js"></script>
<script type="text/javascript" src="{$asset_url}/js/index.js"></script>